/****** Object:  Table [dbo].[componentes_catalogo]    Script Date: 17-10-2025 18:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[componentes_catalogo](
	[componente_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_componente] [nvarchar](120) NOT NULL,
	[descripcion_componente] [nvarchar](400) NULL,
	[active] [bit] NOT NULL,
	[default_is_recyclable] [bit] NOT NULL,
	[default_is_reusable] [bit] NOT NULL,
	[default_is_sellable] [bit] NOT NULL,
	[default_is_hazardous] [bit] NOT NULL,
	[guidance_short] [nvarchar](200) NULL,
	[guidance_url] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[componente_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dispositivo_catalogo]    Script Date: 17-10-2025 18:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dispositivo_catalogo](
	[dispositivo_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_dispositivo] [nvarchar](80) NOT NULL,
	[descripcion_dispositivo] [nvarchar](400) NULL,
	[example_image_url] [nvarchar](400) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dispositivo_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dispositivo_componente_mapa]    Script Date: 17-10-2025 18:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dispositivo_componente_mapa](
	[dispositivo_id] [int] NOT NULL,
	[componente_id] [int] NOT NULL,
 CONSTRAINT [PK_dcm] PRIMARY KEY CLUSTERED 
(
	[dispositivo_id] ASC,
	[componente_id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_dispositivo_componentes]    Script Date: 17-10-2025 18:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_dispositivo_componentes] AS
SELECT
  d.nombre_dispositivo,
  c.componente_id,
  c.nombre_componente,
  c.descripcion_componente,
  c.default_is_recyclable AS is_recyclable,
  c.default_is_reusable   AS is_reusable,
  c.default_is_sellable   AS is_sellable,
  c.default_is_hazardous  AS is_hazardous,
  c.guidance_short,
  c.guidance_url
FROM dbo.dispositivo_componente_mapa m
JOIN dbo.dispositivo_catalogo d ON d.dispositivo_id = m.dispositivo_id
JOIN dbo.componentes_catalogo   c ON c.componente_id = m.componente_id;
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 17-10-2025 18:34:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Correo] [nvarchar](100) NOT NULL,
	[Contraseña] [nvarchar](100) NOT NULL,
	[RegionUsuario] [nvarchar](100) NOT NULL,
	[ComunaUsuario] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[componentes_catalogo] ON 

INSERT [dbo].[componentes_catalogo] ([componente_id], [nombre_componente], [descripcion_componente], [active], [default_is_recyclable], [default_is_reusable], [default_is_sellable], [default_is_hazardous], [guidance_short], [guidance_url]) VALUES (1, N'Batería completa', N'Contiene litio/níquel/cadmio/plomo; requiere gestor RAEE.', 1, 1, 0, 0, 1, N'Entrega en punto autorizado; no basura común.', NULL)
INSERT [dbo].[componentes_catalogo] ([componente_id], [nombre_componente], [descripcion_componente], [active], [default_is_recyclable], [default_is_reusable], [default_is_sellable], [default_is_hazardous], [guidance_short], [guidance_url]) VALUES (2, N'Cable USB / receptor inalámbrico', N'Repuesto o dongle 2.4GHz reutilizable.', 1, 1, 1, 1, 0, N'Reutiliza o vende si funciona; recicla si está dañado.', NULL)
INSERT [dbo].[componentes_catalogo] ([componente_id], [nombre_componente], [descripcion_componente], [active], [default_is_recyclable], [default_is_reusable], [default_is_sellable], [default_is_hazardous], [guidance_short], [guidance_url]) VALUES (3, N'Carcasa plástica', N'Plástico ABS.', 1, 1, 0, 0, 0, N'Separa el plástico y envía a reciclaje.', NULL)
SET IDENTITY_INSERT [dbo].[componentes_catalogo] OFF
GO
SET IDENTITY_INSERT [dbo].[dispositivo_catalogo] ON 

INSERT [dbo].[dispositivo_catalogo] ([dispositivo_id], [nombre_dispositivo], [descripcion_dispositivo], [example_image_url], [active]) VALUES (1, N'Battery', NULL, NULL, 1)
INSERT [dbo].[dispositivo_catalogo] ([dispositivo_id], [nombre_dispositivo], [descripcion_dispositivo], [example_image_url], [active]) VALUES (2, N'Keyboard', NULL, NULL, 1)
INSERT [dbo].[dispositivo_catalogo] ([dispositivo_id], [nombre_dispositivo], [descripcion_dispositivo], [example_image_url], [active]) VALUES (3, N'Microwave', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[dispositivo_catalogo] OFF
GO
INSERT [dbo].[dispositivo_componente_mapa] ([dispositivo_id], [componente_id]) VALUES (1, 1)
INSERT [dbo].[dispositivo_componente_mapa] ([dispositivo_id], [componente_id]) VALUES (2, 2)
INSERT [dbo].[dispositivo_componente_mapa] ([dispositivo_id], [componente_id]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [Correo], [Contraseña], [RegionUsuario], [ComunaUsuario]) VALUES (8, N'Admin', N'admin@admin.com', N'1234', N'Región Metropolitana de Santiago', N'Santiago')
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Correo], [Contraseña], [RegionUsuario], [ComunaUsuario]) VALUES (13, N'Vania', N'van@van.com', N'1234', N'Región de Ñuble', N'Portezuelo')
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Correo], [Contraseña], [RegionUsuario], [ComunaUsuario]) VALUES (19, N'Ignacia Valentina Paz Arancibia Botello ', N'ignapaz14@gmail.com', N'Paz', N'Región Metropolitana de Santiago', N'San Miguel')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__componen__35721E7E35309368]    Script Date: 17-10-2025 18:34:24 ******/
ALTER TABLE [dbo].[componentes_catalogo] ADD UNIQUE NONCLUSTERED 
(
	[nombre_componente] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__disposit__C42115FD457C3006]    Script Date: 17-10-2025 18:34:24 ******/
ALTER TABLE [dbo].[dispositivo_catalogo] ADD UNIQUE NONCLUSTERED 
(
	[nombre_dispositivo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[componentes_catalogo] ADD  CONSTRAINT [DF_comp_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[componentes_catalogo] ADD  CONSTRAINT [DF_comp_isrecycl]  DEFAULT ((0)) FOR [default_is_recyclable]
GO
ALTER TABLE [dbo].[componentes_catalogo] ADD  CONSTRAINT [DF_comp_isreus]  DEFAULT ((0)) FOR [default_is_reusable]
GO
ALTER TABLE [dbo].[componentes_catalogo] ADD  CONSTRAINT [DF_comp_issell]  DEFAULT ((0)) FOR [default_is_sellable]
GO
ALTER TABLE [dbo].[componentes_catalogo] ADD  CONSTRAINT [DF_comp_ishaz]  DEFAULT ((0)) FOR [default_is_hazardous]
GO
ALTER TABLE [dbo].[dispositivo_catalogo] ADD  CONSTRAINT [DF_disp_active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[dispositivo_componente_mapa]  WITH CHECK ADD  CONSTRAINT [FK_dcm_component] FOREIGN KEY([componente_id])
REFERENCES [dbo].[componentes_catalogo] ([componente_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dispositivo_componente_mapa] CHECK CONSTRAINT [FK_dcm_component]
GO
ALTER TABLE [dbo].[dispositivo_componente_mapa]  WITH CHECK ADD  CONSTRAINT [FK_dcm_device] FOREIGN KEY([dispositivo_id])
REFERENCES [dbo].[dispositivo_catalogo] ([dispositivo_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[dispositivo_componente_mapa] CHECK CONSTRAINT [FK_dcm_device]
GO
